.container-orders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 28px;
  text-align: center;
  color: rgb(0, 68, 142);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.form .parceiro-selected {
  margin: 20px 0;
  text-align: center;
  border-bottom: 1px solid #257c3d;
  font-weight: 500;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #257c3d;
  padding-bottom: 10px;
}

textarea {
  height: 100px;
  padding: 10px;
  border-radius: 5px;
}
