.products-summary {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  margin-bottom: 5px;
  position: relative; 
}

.products-summary #image-cart{
  width: 40%;
}

.products-summary #infos-cart{
  width: 60%;
}

.products-summary h4 {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 5px;
}

.products-summary p {
   font-size: 12px;
}

.summary-buy {
  display: flex;
  align-items: center;
  gap: 10px;
}

.summary-buy span {
  width: 70px;
  font-size: 12px;
  font-weight: 500;
}

.delete-product {
  position: absolute;
  top: 50%;
  left: 93%;
}
