.container-error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

h1 {
  font-size: 80px;
  color: rgb(0, 68, 142);
}

p {
  font-size: 30px;
}

.link-error {
  text-decoration: none;
font-weight: bold;
  color:  rgb(0, 68, 142);
  padding: 10px 30px;
  border: 2px solid rgb(0, 68, 142);
  border-radius: 20px;
}

.link-error:hover{
    background-color: rgba(0, 69, 142, 0.082);
}
