.container-infos-line {
  max-height: 400px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.container-infos-line::-webkit-scrollbar {
  width: 15px;
  height: 3px;
}

.infos-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 10px 0px 10px 20px;
  max-height: 700px;
}

@media screen and (max-width: 1360px) {
  .infos-line {
    margin: 10px 0px 10px 20px;
  }
}

.infos-line h4 {
  color: #257c3d;
  text-align: center;
  font-weight: 600;
}

.infos-line p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  font-size: 14px;
  padding: 1px;
}

.infos-line   span {
  font-weight: 600;
  width: 90px;
  text-align: right;
}

