.clients-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 600px;
    margin: 0 auto;
    gap: 5px;
   
}

.list-clients{
 max-height: 580px;   
 overflow-y: scroll;
 margin-top: 40px;
}


.list-clients::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

.list-clients ul{
    list-style: none;

}

.list-clients li{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}