.container-card{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 140px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #f6f6f6;
    box-shadow:  5px 5px 10px #22222270;
}

.container-card h3{
    font-size: 18px;
    font-weight: 400;
    color: #000 ;
    text-align: center;
    margin-bottom: 10px;
}

.container-card  img{
    width: 50%;
}

.container-card .card-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-discount{
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 68, 142);
}