.container-card {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 160px;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 10px #22222270;
}

.container-card h3 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.container-card .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-card img {
  width: 50%;
  flex-grow: 2;
  max-width: 150px;
}

.title-discount {
  flex-grow: 3; /* Faz o texto crescer mais do que a imagem */
  flex-shrink: 1;
  font-size: 38px;
  font-weight: 500;
  color: rgb(0, 68, 142);
  text-align: right; /* Alinha o texto à direita */
  white-space: nowrap;
}

@media screen and (max-width: 1360px) {
  .container-card {
    width: 250px;
    height: 140px;
  }

  .container-card img {
    width: 45%;
  }
  .title-discount {
    font-size: 30px;
  }
}

@media screen and (max-width: 1281px) {
  .container-card {
    width: 230px;
    height: 130px;
  }
  .title-discount {
    font-size: 30px;
  }
}
