.heading {
  height: 9vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.089);
  margin-bottom: 40px;
}

.heading img {
  width: 50%;
}

.heading ul {
  display: flex;
  gap: 20px;
}

.heading li {
  list-style: none;
  color: rgb(0, 68, 142);
  font-weight: 500;
  font-size: 20px;
}

.heading a {
  display: flex;
  text-decoration: none;
}

.heading .container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.heading p {
  color: rgb(0, 68, 142);
  font-size: 18px;
  text-align: center;
}

.icon {
  display: flex;
  cursor: pointer;
  font-size: 22px;
  color: rgb(0, 68, 142);
}

.cart-link {
  position: relative;
}

.icon-Cart {
  color: rgb(0, 68, 142);
  font-size: 1.5rem;
}

.cart-status {
  background-color: rgb(0, 68, 142);
  width: 15px;
  height: 15px;
  position: absolute;
  top: -7px;
  left: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


