.container-main {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 10px;
}

.container-total{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 25px;
}

.section-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  gap: 10px;
}

.section-products img {
  width: 30%;
}

.container-product h4 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.results {
  width: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-top: 10px;
}

.section-products input {
  width: 100px;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-top: 10px;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;}

button {
  border: none;
  background-color: transparent;
}

.btn-product {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-product p:nth-last-child(-n +1){
  width: 20px;
  font-size: 14px;
}

.icon-minus {
  color: red;
  font-size: 16px;
}

.icon-minus:hover {
  background-color: #f6f6f6;
}

.icon-plus {
  color: #257c3d;
  font-size: 16px;
}

.btn-product-st {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-product-st p, .btn-product-st span {
  color: rgba(49, 45, 45, 0.8);
}

.btn-product-st p:nth-last-child(-n +1){
  width: 50px;
  font-size: 14px;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 250px;
  background-color: #eeeeee;
  border-radius: 0 0 10px 10px;
}

.infos h3{
  margin: 10px 0;
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.btn-product p {
  width: 60px;
  text-align: right;
}

.infos-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  padding: 10px 40px;
  
}

.infos-products p{
  display: flex;
  justify-content: center;
}

.infos-products span{
width: 60px;
}