.container-orders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

}

h1 {
  font-size: 28px;
  text-align: center;
  color: rgb(0, 68, 142);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.form .parceiro-selected{
  margin: 20px 0;
  text-align: center;
  border-bottom: 1px solid #257C3D;
  font-weight: 500;

}

.selected{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
color: #257C3D;
padding-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 18px;
  font-weight: 500;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  color: rgb(17, 17, 17);
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.form-group-checkbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.form-group-checkbox label {
  font-size: 14px;
  margin-left: 5px;
}

textarea {
  height: 100px;
  padding: 10px;
  border-radius: 5px;
}
