.container-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 700px;
  max-height: 800px;
  border-radius: 5px;
  background-color: #ccc;
  margin-bottom: 50px;
}

.container-summary h3 {
  text-align: center;
  border-bottom: 1px solid #8d8d8d;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.cart-summary {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #8d8d8d;
}

.cart-infos {
  width: 50%;
  border-right: 1px solid #8d8d8d;
}

.cart {
  width: 50%;
}

.items-cart {
  max-height: 400px;
  overflow-y: scroll;
}

.items-cart::-webkit-scrollbar {
  width: 15px;
  height: 3px;
}

.summary-discount {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #8d8d8d;
  padding: 13px 20px;
}

.summary-discount span {
  font-weight: 600;
}
.summary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-btn .btn {
  background-color: #4f8f45;
  width: 50%;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 20px;
}

.summary-btn .btn:hover {
  opacity: 1;
}

.drafts-link {
  text-align: center;
  margin: 20px 0;
}

.drafts-link a {
  text-decoration: none;
  color: rgb(0, 68, 142);
  font-weight: 600;
}
